
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  background-image: url('./assets/background-image.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: #e0e0e0;
}

.App {
  text-align: center;
  padding: 20px;
}

header {
  background: rgba(34, 34, 34, 0.8);
  color: #e0e0e0;
  padding: 50px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
  font-weight: 700;
}

header p {
  margin: 10px 0;
  font-size: 1.2em;
}

header a {
  color: #bb86fc;
  text-decoration: none;
  margin: 0 5px;
}

header a:hover {
  text-decoration: underline;
}

section {
  margin: 20px auto;
  padding: 20px;
  background: rgba(34, 34, 34, 0.9);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  max-width: 800px;
  text-align: left;
  overflow: auto; /* Enable scrolling if content exceeds height */
}

h2 {
  color: #bb86fc;
  font-size: 1.8em;
  border-bottom: 2px solid #bb86fc;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

h3 {
  color: #e0e0e0;
  font-size: 1.5em;
  margin-top: 10px;
}

p {
  color: #e0e0e0;
  font-size: 1.1em;
  line-height: 1.6;
  margin: 10px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #333;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

a {
  color: #bb86fc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
